<h3>Андреев Иван Александрович</h3>




<div class="search-item">
    <div><span><img src="static/Content/images/tmp10.jpg"/></span></div>
    <div class="personal-info">
        <div class="name">
            <input type="text" value="Андреев" placeholder="Фамилия" />
        </div>
        <div class="name">
            <input type="text" value="Иван" placeholder="Имя" />
        </div>
        <div class="name">
            <input type="text" value="Алексеевич" placeholder="Отчество" />
        </div>
        <div class="bithday icn-calendar">
            <input type="text" value="" placeholder="дд.мм.гг" />
        </div>
    </div>
</div>

<div class="field"><strong>Должность:</strong> 	<input type="text" value=" Front-end разработчик" placeholder="Должность" /> </div>
<div class="field"><strong>Почта:</strong> 	<a href="mailto:ivan.andreev@firstlinesoftware.com"><u>ivan.andreev@firstlinesoftware.com</u></a></div>
<div class="field"><strong>Skype:</strong> <input type="text" value="ivan.andreev	" placeholder="Skype" /></div>
<div class="field"><strong>Отдел:</strong> <input type="text" value="Отдел разработки Java " placeholder="Отдел" /></div>
<div class="field"><strong>Проекты:</strong> <input type="text" value="Australia EMR" placeholder="Проекты" /></div>
<div class="field"><strong>Локация:</strong> <a class="icn-map-marker"><u>222-В</u></a></div>



<div class="block-title">Дополнительная информация</div>

<ul class="social">
    <li><span class="icn-twitter"><span><input type="text" value="" placeholder="twitter" /></span></span></li>
    <li><span class="icn-facebook"><span><input type="text" value="" placeholder="facebook" /></span></span></li>
    <li><span class="icn-google-plus"><span><input type="text" value="" placeholder="google plus" /></span></span></li>
    <li><span class="icn-linkedin"><span><input type="text" value="" placeholder="linkedin" /></span></span></li>
    <li><span class="icn-instagram"><span><input type="text" value="" placeholder="instagram" /></span></span></li>
    <li><span class="icn-vk"><span><input type="text" value="" placeholder="vk" /></span></span></li>
</ul>


<div class="block-title">Навыки</div>

<textarea>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</textarea>


<div class="action">
    <button class="btn btn-primary">Сохранить</button>
    <button class="btn btn-default"><u>Отмена</u></button>
</div>