<div>
    <a class="icn-angle-double-left">&nbsp;<u>Назад к списку сотрудников</u></a>
</div>

<h3>Андреев Иван Александрович	<a class="icn-pencil pull-right" ><span>Редактировать</span></a></h3>




<div class="search-item">
    <div><span><img src="static/Content/images/tmp10.jpg"/></span></div>
    <div class="personal-info">
        <div class="name">Андреев Иван Алексеевич</div>
        <div class="position">Front-end разработчик</div>
        <div class="email"><strong>Email:</strong> <a href="mailto:ivan.andreev@firstlinesoftware.com">ivan.andreev@firstlinesoftware.com</a></div>
        <div class="skype"><strong>Skype:</strong> ivan.andreev</div>

        <div class="department"><strong>Отдел:</strong> Отдел разработки Java</div>
        <div class="projects"><strong>Проекты:</strong> <a>Australia EMR</a></div>
    </div>
    <div class="align-center map">
        <strong>Рабочее место</strong>
        <a class="icn-map-marker"><u>222-В</u></a>
    </div>
</div>


<div class="block-title">Дополнительная информация</div>

<ul class="social">
    <li><a class="icn-twitter"><u>twitter</u></a></li>
    <li><a class="icn-facebook"><u>facebook</u></a></li>
    <li><a class="icn-google-plus"><u>google-plus</u></a></li>
    <li><a class="icn-linkedin"><u>linkedin</u></a></li>
    <li><a class="icn-instagram"><u>instagram</u></a></li>
    <li><a class="icn-vk"><u>vk</u></a></li>
</ul>


<div class="block-title">Навыки</div>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
