<div><span></span></div>
<div class="personal-info">
    <div class="name">{{data.lastName}} {{data.firstName}} {{data.middleName}}</div>
    <div class="position">{{data.position}}</div>
    <div class="email"><span>email</span> <a href="mailto:{{email}}">{{data.email}}</a></div>
    <div class="skype"><span>skype</span> {{data.skype}}</div>
</div>
<!--
<div class="align-center map">
    <a class="icn-map-marker"><u>222-В</u></a>
</div>
-->