<h2>Сотрудники</h2>

<div class="search">
    <input type="text" placeholder="Имя / Фамилия "> <span class="icn-search"></span>
</div>

<!--
<div class="advanced-search">
    <a><u>Рассширенный поиск</u></a>
    <div class="inner">

    </div>
</div>
-->
<div class="search-results">

    <!--
        <div class="tool">
            <a class="sort icn-sort-amount-asc pull-right" ></a>
        </div>
        <div class="search-group">
            <div class="letter">A</div>
    -->
</div>
<div class="pagination">
    <ul></ul>
</div>
<div id="paginator"></div>

<!--
<div class="pagination">
    <ul>
        <li><span class="icn-angle-double-left"></span></li>
        <li><a class="icn-angle-left"></a></li>
        <li><a class="page">1</a></li>
        <li><a class="page active">2</a></li>
        <li><a class="page">3</a></li>
        <li><a class="page">4</a></li>
        <li><a class="page">5</a></li>
        <li><a class="icn-angle-right"></a></li>
        <li><a class="icn-angle-double-right"></a></li>
        <li>Показывать по <input type="text" valu="15"/> на странице</li>
        <li class="pull-right">15-30 из 210</li>
    </ul>
</div>
-->